@if (ViewData["Title"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
<h1>Add new work</h1>


<table>
    <form method="post" action="@Url.Action("PostData", "HomeController")">

    <tr>
        <td>  <label>ID: </label>  </td>
        <td>  <input id="idCurrentWork" name="idCurrentWork" type="text" required />  </td>
    </tr>
    <tr>
        <td>  <label>Location: </label>  </td>
        <td>  <input id="location" name="location" type="text" required />  </td>
    </tr>
    <tr>
        <td>   <label>Start date: </label>  </td>
        <td>   <input id="startDate" name="startDate" type="datetime-local" required />  </td>
    </tr>
    <tr>
        <td>   <label>End date: </label>  </td>
        <td>   <input id="endDate" name="endDate" type="datetime-local" required />  </td>
    </tr>
    <tr>
        <td>   <label>Description: </label>  </td>
        <td>   <input id="description" name="description" type="text" required />  </td>
    </tr>
    <tr>
        <td>   </td>
        <td>   <input type="submit" />  </td>
    </tr>

    </form>
</table>